body {
    background-color: #08011c;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#canvas {
    padding: 25px;
}

.row {
    display: flex;  /* forces the tiles to sit next to each other */
    gap: 10px; /* adds 5px gap between the tiles */
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.tile {
    height: 60px;
    width: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a1a1a1;
    
    color: white;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
}

button {
    /* display: none; */
    background-color: #080942;
    border-radius: 20px;
    height: 50px;
    cursor: pointer;
}