#game, #letters, body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #08011c;
    flex-direction: column;
}

#canvas {
    padding: 0px;
}

.row, .letterRow {
    display: flex;  /* forces the tiles to sit next to each other */
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.letterRow {
    gap: 5px;
}
.row {
    gap: 10px; /* adds 5px gap between the tiles */
}

.tile, .letterTile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a1a1a1;
    
    color: white;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.tile {
    height: 60px;
    width: 60px;
    font-size: 45px;
}

.letterTile {
    height: 30px;
    width: 30px;
    font-size: 20px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #080942;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 150px;
    cursor: pointer;
    padding: 50px;
}

h2 {
    padding: 0;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a1a1a1;
    color: white;
    width: 120px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
}