<!DOCTYPE html>
<html>
    <head>
        <title>Wordle Marathon</title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'style.css')}}">
    </head>
    <body>
        <h1 style="color: white;">Wordle Marathon</h1>
        <div id = "canvas">
            <!-- <div class = "row">
                <input type = "text">
                <input type = "text">
                <input type = "text">
                <input type = "text">
                <input type = "text">
            </div> -->
        </div>
        <div id = "score">
            <h2>Your Score: 0</h2>
        </div>
        <button type="button" id = "restart">RESTART</button>
        <script src = "{{url_for('static', filename = 'script.js')}}"></script>
    </body>
</html>