<!DOCTYPE html>
<html>
    <head>
        <title>Wordle Marathon</title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'style.css')}}">
    </head>
    <body>
        <h1>WORDLE MARATHON</h1>
        <div id = "game">
            <h2 id = "count">Words: 0</h2>
            <div id = "canvas"></div>
            <h2 id = "score">Score: 0</h2>
            <button type="button" id = "restart">RESTART</button>
        </div>
        <div id = "letters"></div>
        <script src = "{{url_for('static', filename = 'script.js')}}"></script>
    </body>
</html>